{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
 	    <div class="col-md-12">
 	        <h1>About</h1>
 	    </div>
 	</div>
 	<hr>
 	<div class="row">
 	    <div class="col-md-12">
 	        <p>OpenPSE is an open-source project which has the following goals:</p>
 	        <ul>
                <li>Store end-of-day quotes from the Philippine Stock Exchange(PSE)</li>
                <li>Provide a public REST API for the data</li>
                <li>Provide downloadable end-of-day quotes files(CSV, JSON, XML)</li>
                <li>Aggregate news from different sources regarding companies listed in the PSE</li>
                <li>Provide users with stock charts and indicators</li>
            </ul>
            <p>The source code may be found on <a href="https://github.com/rodxavier/open-pse-initiative">Github</a>.</p>
 	    </div>
 	</div>
</div>
{% endblock content %}
