{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        {% block head %}

            <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
            <meta name="author" content="Rod Xavier Bondoc" />
            {% block seo_meta %}
            <meta name="description" content="Open-source Philippine Stock Exchange Data" />
            <meta name="keywords" content="Philippine Stock Exchange, PSE, PSE API, Stock Market, PSE Historical Data" />
            {% endblock seo_meta %}
            {% block meta %}
            <meta name="robots" content="index,follow" />
            {% endblock meta %}

            <title>{% block title %}Open PSE Initiative{% endblock title %}</title>

            {% block style %}
                {% block bootstrap_theme %}
                    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
                    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
                {% endblock bootstrap_theme %}
                <link href="{% static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
            {% endblock style %}

        {% endblock head %}
    </head>

    {% block body %}
    <body class="{% block bodyclass %}{% endblock %}">

        <div class="wrapper">

            {% block navbar %}
                <div class="navbar navbar-nav navbar-fixed-top {% block bootstrap_navbar_variant %}navbar-default{% endblock bootstrap_navbar_variant %}">
                    <div class="navbar-inner">
                        <div class="container">
                            <span>
                                {% block branding %}
                                    <a class='navbar-brand' rel="nofollow" href="{% url 'index' %}">
                                        Open PSE Initiative
                                    </a>
                                {% endblock branding %}
                            </span>
                            <ul class="nav navbar-nav">
                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Market <span class="caret"></span></a>
                                        <ul class="dropdown-menu" aria-labelledby="market">
                                            <li><a href="{% url 'index_history' %}">Index History</a></li>
                                        </ul>
                                </li>
                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Companies <span class="caret"></span></a>
                                        <ul class="dropdown-menu" aria-labelledby="companies">
                                            <li><a href="{% url 'companies_list' %}">Directory</a></li>
                                        </ul>
                                </li>
                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Quotes <span class="caret"></span></a>
                                        <ul class="dropdown-menu" aria-labelledby="quotes">
                                            <li><a href="{% url 'quotes_download' %}">Downloads</a></li>
                                        </ul>
                                </li>
                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">API <span class="caret"></span></a>
                                        <ul class="dropdown-menu" aria-labelledby="api">
                                            <li><a href="{% url 'api_root' %}">API Root</a></li>
                                            <li class="divider"></li>
                                            <li><a href="{% url 'api_indices_list' %}">Indices</a></li>
                                            <li><a href="{% url 'api_companies_list' %}">Companies</a></li>
                                            <li><a href="{% url 'api_quotes_list' %}">Quotes</a></li>
                                            <li><a href="{% url 'api_ticker' %}">Ticker</a></li>
                                        </ul>
                                </li>
                            </ul>
                            <ul class="nav navbar-nav navbar-right">
                                <li>
                                    <div class="btn-group navbar-btn">
                                        <button class="btn disabled {{ market_status_class }}"><i class="fa fa-line-chart"></i> MARKET {{ market_status }}</button>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            {% endblock navbar %}
            
            {% block breadcrumbs %}{% endblock breadcrumbs %}

            <!-- Content -->
            <div id="content">
                {% block content_extra_top %}
                {% endblock content_extra_top %}
                <div class="content-main">
                    {% block content %}
                    {% endblock content %}
                </div>
                {% block content_extra_bottom %}
                {% endblock content_extra_bottom %}
            </div>
            <!-- END Content -->
        </div><!-- ./wrapper -->
        
        <div id="footer">
            <div class="container">
                <div class="row vcenter">
                    <div class="col-md-6">
                        <span><a href="{% url 'about' %}">About</a> | <span><a href="{% url 'terms' %}">Terms and Conditions</a>
                    </div>
                    <div class="col-md-4 col-md-offset-2">
                        <span>Copyright &copy; 2014 OpenPSE. All rights reserved.</span>
                    </div>
                </div>
            </div>
        </div>
        
        
        {% block script %}
            <script src="{% static "jquery/dist/jquery.min.js" %}"></script>
            <script src="{% static "bootstrap/dist/js/bootstrap.min.js" %}"></script>
            <script src="{% static "underscore/underscore-min.js" %}"></script>
            {% block extra_js %}
            {% endblock extra_js %}
        {% endblock script %}
        <script type="text/javascript">
            $(document).ready(function() {

                var docHeight = $(window).height();
                var footerHeight = $('#footer').height();
                var footerTop = $('#footer').position().top + footerHeight;

                if (footerTop < docHeight) {
                    $('#footer').css('margin-top', (docHeight - footerTop) + 'px');
                }
            });        
        </script>
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-54747060-2', 'auto');
            ga('send', 'pageview');
        </script>
    </body>
    {% endblock body %}
</html>

