{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<div ng-app="openPSEApp">
 	<div class="row">
 	    <div class="col-md-12">
 	        <h1>End-of-Day Quotes Downloads</h1>
 	    </div>
 	</div>
 	<hr>
 	<div class="row" ng-controller="QuoteDownloadsController">
 	    <div class="col-md-8 col-md-offset-2">
     	{% verbatim %}
     	<table class="table table-striped table-hover">
            <thead>
                <tr class="success">
                    <th>Date</th>
                    <th colspan=3>Download URL</th>
                </tr>
            </thead>
            <tbody>
                <tr dir-paginate="obj in objs | itemsPerPage: 50" total-items="total">
                    <td data-ng-bind="obj.quote_date"></td>
                    <td><a href="{{obj.csv_url}}" target="_blank">csv</a></td>
                    <td><a href="{{obj.json_url}}" target="_blank">json</a></td>
                    <td><a href="{{obj.xml_url}}" target="_blank">xml</a></td>
                </tr>
            </tbody>
        </table> 
        {% endverbatim %}
        </div>
 	    <div class="col-md-6 col-md-offset-3 col-centered">
 	        <dir-pagination-controls on-page-change="pageChanged(newPageNumber)" template-url="{% static "angular-utils-pagination/dirPagination.tpl.html" %}"></dir-pagination-controls>
 	    </div>
 	</div>
</div>
{% endblock content %}

{% block extra_js %}
<script src="{% static "angular-utils-pagination/dirPagination.js" %}"></script>
<script src="{% static "js/app.js" %}"></script>
<script src="{% static "js/controllers.js" %}"></script>
<script src="{% static "js/services.js" %}"></script>
{% endblock extra_js %}
