Django==1.7
Markdown==2.4.1
Pillow==2.5.3
argparse==1.2.1
certifi==14.05.14
django-admin-honeypot==0.4.0
django-bootstrap-pagination==1.5.0
django-bower==5.0.1
django-dbbackup==2.0.3
django-filter==0.7
django-kronos==0.4
django-tinymce==1.5.3
djangorestframework==3.0.5
dropbox==2.2.0
psycopg2==2.5.4
requests==2.4.0
six==1.7.3
urllib3==1.24.2
wsgiref==0.1.2
-e git+git@github.com:jezdez/django-robots.git#egg=robots